name: CI

on:
  push:
    branches: [ master ]
    pull_request:
      branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: 'Lint'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ matrix.prefer }}-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-${{ matrix.prefer }}-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: pcov

      - name: Install dependencies
        run: composer install

      - name: Check platform requirements
        run: composer check-platform-reqs

      - name: PHP-CS-Fixer
        run: ./vendor/bin/php-cs-fixer fix --dry-run

      - name: test coverage
        run: |
          ./vendor/bin/phpunit --coverage-clover=coverage.xml
          bash <(curl -s https://codecov.io/bash)
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Infection
        run: ./vendor/bin/infection --min-msi=100
        env:
          INFECTION_BADGE_API_KEY: ${{ secrets.INFECTION_BADGE_API_KEY }}

      - name: PHPStan
        run: ./vendor/bin/phpstan

    tests:
      runs-on: ubuntu-latest
      name: 'PHP: ${{ matrix.php }}; Laravel: ${{ matrix.laravel }}; Prefer: ${{ matrix.prefer }}'
      strategy:
        matrix:
          php: ['8.1', '8.2']
          laravel: ['^9.0', '^10.0']
          prefer: ['prefer-lowest', 'prefer-stable']
          include:
            - laravel: '^9.0'
              testbench: '^7.0'
            - laravel: '^10.0'
              testbench: '^8.0'

        steps:
          - name: checkout code
            uses: actions/checkout@v2

          - name: Get composer cache directory
            id: composer-cache
            run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

          - name: Cache dependencies
            uses: actions/cache@v3
            with:
              path: ${{ steps.composer-cache.outputs.dir }}
              key: ${{ runner.os }}-composer-${{ matrix.prefer }}-php-${{ matrix.php }}-phpunit-${{ matrix.phpunit }}-${{ hashFiles('**/composer.json') }}
              restore-keys: ${{ runner.os }}-composer-${{ matrix.prefer }}-php-${{ matrix.php }}-phpunit-${{ matrix.phpunit }}-

          - name: Setup PHP
            uses: shivammathur/setup-php@v2
            with:
              php-version: ${{ matrix.php }}
              coverage: none

          - name: Support prefer-lowest in PHP 8.1
            if: ${{ matrix.php == 8.1 && matrix.prefer == 'prefer-lowest' }}
            run: composer require --no-update --no-scripts phpunit/phpunit:">=9.0" symfony/http-foundation:">=5.3.7" illuminate/http:">=8.62.0" nesbot/carbon:">=2.51.0"

          - name: Install dependencies
            run: |
              composer require --no-update 'illuminate/support:${{ matrix.laravel }}' 'orchestra/testbench:${{ matrix.testbench }}'
              composer update --${{ matrix.prefer }} --no-scripts

          - name: Check platform requirements
            run: composer check-platform-reqs

          - name: Run tests
            run: ./vendor/bin/phpunit
